<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/css/bootstrap/bootstrap.css">
    <script src="/admin/js/bootstrap/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/web/views/detail/detail.css">
    <script src="/admin/js/echarts.js"></script>
    <link rel="stylesheet" href="/web/css/swiper-bundle.min.css">
    <script src="/web/js/swiper-bundle.min.js"></script>
</head>

<body>
    <div class="main">
        <div class="topbar">
            <!-- 动态插入片段 -->
            <!-- 导航栏 -->
        </div>
        <div class="box">
            <div class="content">
                <div>
                    <h2 class="title">

                    </h2>
                </div>
                <p class="card-text">作者：<span class="author"></span></p>
                <hr><div class="news">

                </div>
            </div>
        </div>
    </div>

    <script src="detail.js" type="module">
    </script>
</body>

</html>