@import "..\\style.scss";


.newsbg {
    background-image: url(http://localhost:3000/bg.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .myinput {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 70%;
        height: 40px;
        bottom: 50px;
        z-index: 10;

        .list-group {
            z-index: 10;
            opacity: 0.8;
            li {
                cursor: pointer;
                transition:0.3s;
                transition-duration: .3s;
                transition-timing-function: ease;
                transition-delay: 0s;
                transition-property: all;
            }
            li:hover {
                background-color: rgb(224, 207, 207);
                text-indent:12px;
                transition:0.3s;
                transition-duration: .3s;
                transition-timing-function: ease;
                transition-delay: 0s;
                transition-property: all;
            }
        }
    }
}

a {
    text-decoration: none;
    color: #000;
}

.cardContainer {
    padding: 10px;
    display: flex;
    justify-content: space-around;

    .card {
        width: 300px;

        .cardBackground {
            width: 100%;
            height: 150px;
            background-size: cover;
            background-position: center;
        }
    }

    .card:hover {
        box-shadow: 0 0 10px black;
        cursor: pointer;
    }
}

.newsTabs{
    padding: 30px;
    .tab-link{
        color: #000;
    }
    .listItem{
        padding: 10px;
        overflow: hidden;
        img{
            float: left;
            width: 120px;
        }
    }
    .listItem:hover{
        box-shadow: 0 0 10px black;
        //鼠标变小手
        cursor: pointer;
    }
}